@import url(https://fonts.googleapis.com/css?family=Raleway);

/*=============================================================

Page Defaults

=============================================================*/

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #eee;
    font-family: 'Raleway', Arial, sans-serif;
}


/*=============================================================

Typography

=============================================================*/

* {
    color: #542;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    html,
    body {
        font-size: 13px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1000px) {
    html,
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1000px) {
    html,
    body {
        font-size: 16px;
    }
}


/*=============================================================

Custom Grid

=============================================================*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 100%;
    display: block;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 0px solid red;
}

@media only screen and (max-width: 480px) {
    /* For Phones: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    [class*="col-m"] {
        background: transparent;
        border: 0px solid black;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
    [class*="col-m"] {
        background: transparent;
        border: 0px solid black;
    }
}

@media only screen and (min-width: 1024px) {
    /* For Desktops: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    [class*="col-"] {
        display: block;
        background: transparent;
        border: 0px solid black;
    }
}


/*=============================================================

Images

=============================================================*/

.image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
}

.image-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.responsive-image {
    display: block;
    max-width: 100%;
    height: auto;
}


/*=============================================================

Column Items with Description

=============================================================*/

.item-container {
    background: #fff;
}

.item-container:hover {
    background: #eee;
    cursor: pointer;
}

.item-description > p {
    padding: 5px 5px;
    margin: 0;
    font-size: 100%;
}

.item-details {
    padding: 0px;
    background: #fff;
}

.item-description {
    position: relative;
    overflow: hidden;
    height: auto;
    padding: 5px;
}


/*=============================================================

Current Page

=============================================================*/

#container {
    height: 100%;
}

.row {
    max-width: 100%;
    margin: 0 auto;
}


/*=============================================================

Login Page

=============================================================*/

#login-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    display: none;
}

.login-container {
    width: 270px;
    position: relative;
}

.login-section,
.register-section {
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    width: 100%;
    border: 0px solid #3498db;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.0);
    -webkit-box-shadow: 30px undefinedpx 5px 10px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.hide-section {
    display: none;
}

.show-section {
    display: block;
}

@media only screen and (min-width: 480px) {
    .login-container {
        width: 350px;
        position: relative;
    }
}

.login-section [type='text'],
.login-section [type='password'],
.register-section [type='text'],
.register-section [type='password'] {
    border: none;
    border-bottom: 0px solid #3498db;
    border-radius: 0;
    box-shadow: none;
}

.login-section .logo,
.register-section .logo {
    border-bottom: 3px solid;
    padding-bottom: 5px;
    color: #3498db;
}

.login-section button,
.register-section button {
    width: 48%;
    margin-top: 10px
}

.register-section button {
    width: 48%;
    margin-bottom: 0px
}

.create-account {
    float: right;
}

.login-opts {
    text-align: center;
    font-weight: bolder
}

.sign-in {
    min-width: 100%;
    margin: 0
}

[type='text']::-moz-input-placeholder,
[type='password']::-moz-input-placeholder {
    color: #cacaca;
    font-size: 14px !important
}

[type='text']::-ms-input-placeholder,
[type='password']::-ms-input-placeholder {
    color: #cacaca;
    font-size: 14px !important
}

[type='text']::-0-input-placeholder,
[type='password']::-0-input-placeholder {
    color: #cacaca;
    font-size: 14px !important
}

[type='text']::-webkit-input-placeholder,
[type='password']::-webkit-input-placeholder {
    color: #cacaca;
    font-size: 14px !important
}

[type='text']::input-placeholder,
[type='password']::input-placeholder {
    color: #cacaca;
    font-size: 14px !important
}


/*=============================================================*/

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: calc(100% - 0em);
    vertical-align: top;
    padding: 0px;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}


/* Hoshi */

.input--hoshi {
    overflow: hidden;
    padding-bottom: 0px;
}

.input__field--hoshi {
    margin-top: 0.5em;
    padding: 0.85em 0.0em;
    width: 100%;
    background: transparent;
    color: #595F6E;
}

.input__label--hoshi {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0.25em;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
    margin-top: 2px;
    border-bottom: 3px solid red;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label--hoshi-color::after {
    border-color: hsl(160, 100%, 50%);
    /*border-color: hsl(200, 100%, 50%);
    border-color: #3498db;*/
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

.vertical-align-content {
    display: flex;
    justify-content: center;
    /*    align-items: center;*/
    color: #000;
    flex-direction: column;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}


/*=====================================================================

dashboard

=====================================================================*/